@charset "UTF-8";
/* custom-contents */
a.btn { color: gold; font-weight: bold; text-shadow: 2px 2px 4px black; }

/* custom-layout */
/* icon sytyle */
/* 컴포넌트에서 테스트 페이지에서 */
body { color: gold; background: skyblue; }

.test-compoent { background: red; }

.test-compoent__header { font-size: 14px; }

.test-compoent__header--css { font-size: 18px; font-weight: bold; }

.delete-unit { content: "단위가 삭제된 값은?" 30; }

.background-mixin { /* 기본 이미지만 사용 */ background-color: red; background-image: url("../images/basic_image.jpg"); /* 레티나 사용시 인자로 true전달 */ background-color: green; background-image: url("../images/retina_image_width_color.jpg"); background-color: skyblue; background-image: url("../images/retina_image_width_color_other.jpg"); background-color: pink; background-image: url("../images/retina_image.jpg"); background-image: url("../images/none-color-retina_image.jpg"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .background-mixin { background-image: url("../images/retina_image_width_color2x.jpg"); } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .background-mixin { background-image: url("../images/retina_image_width_color_other2x.jpg"); } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { .background-mixin { background-image: url("../images/none-color-retina_image2x.jpg"); } }

.with-color-background-mixin { /* 컬러값까지 사용 */ background-color: rgba(255, 255, 255, 0.3); background-image: url("../images/basic_image.jpg"); }

.background-attribute { background-repeat: repeat; background-position: left top; background-size: cover; background-repeat: repeat-x; background-position: 50% 30%; background-repeat: no-repeat; background-position: 30px 20px; background-repeat: no-repeat; background-size: contain; }

::placeholder { color: gold; }

.placeholder-elements { color: rgba(255, 0, 0, 0.8); }

.placeholder-elements input[type=text] { font-size: 24px; line-height: 2; }

.placeholder-elements input[type=text]::placeholder { color: lemonchiffon; }

/* 기본 PC 화면 구간 */
body:before { content: "PC구간 : 1281px~"; }

.font-px-unit { font-family: NobelB-Bold, SDGothicNeoB-Bold; font-size: 12px; line-height: 2; }

.font-pc-vw-unit { font-family: NobelB-Bold, SDGothicNeoB-Bold; font-size: 36px; font-size: 1.875vw; line-height: 0.722222; }

@media (min-width: 1920px) { .font-pc-vw-unit { font-size: 36px; } }

.pc-vw-test { padding: 30px 50px 20px; padding: 1.5625vw 2.604167vw 1.041667vw; }

@media (min-width: 1920px) { .pc-vw-test { padding: 30px 50px 20px; } }

.single-line-height-mixin { line-height: 1.3; line-height: 20px; }

/* 키워드 입력형  break-point */
@media only screen and (min-width: 768px) and (max-width: 1280px) { body:before { content: "타블릿 구간: 768px~1280px"; }
	.font-tablet-vw-unit { font-size: 14px; font-size: 1.09375vw; line-height: 1.642857; }
	.tablet-vw-test { padding: 30px 50px 20px; padding: 2.34375vw 3.90625vw 1.5625vw; } }

@media only screen and (max-width: 767px) { body:before { content: "모바일 구간: ~767px"; }
	.mobile-vw-single { padding-left: 2.666667vw; margin-top: 2.666667vw; height: auto; }
	.mobile-vw-multi { padding: 4vw auto 2.666667vw; }
	.font-mobile-vw-unit { font-size: 4.266667vw; line-height: 0.9375; padding: 20px auto; padding: 2.666667vw auto; } }

/* 수치 입력형 break-point */
@media only screen and (min-width: 1200px) { ._1200-min-window { color: gray; } }

@media only screen and (max-width: 1900px) { ._1900-max-window { color: pink; } }

@media only screen and (min-width: 1200px) and (max-width: 1440px) { .pc-vw-section { color: red; padding: 30px auto 30px; padding: 1.5625vw auto 1.5625vw; } }

@media only screen and (min-width: 1200px) and (max-width: 1440px) and (orientation: portrait) { .pc-vw-section-portrate { color: red; padding: 30px auto 30px; padding: 1.5625vw auto 1.5625vw; } }

@media only screen and (min-height: 600px) { body:before { content: '최소 높이 600px'; } }

@media only screen and (max-height: 1200px) { body:before { content: '최대 높이 1200px'; } }

@media only screen and (orientation: landscape) { body:before { content: '가로화면'; } }

@media only screen and (orientation: portrait) { body:before { content: '세로화면'; } }

.icon-triangle::after { border-style: solid; height: 0; width: 0; border-color: transparent transparent #b25c9c; border-width: 0 3rem 12rem; content: ""; }

.common-icon { background-repeat: no-repeat; background-position: 0 0; background-size: cover; }

.common-icon.svg-icon-width-png { /* svg아이콘 이미지와 fallback으로 사용될 png이미지 생성, fallback용 이미지 생성을 위해서는 true 전달 */ background: url("../images/svg_image.svg"); }

.no-svg .common-icon.svg-icon-width-png { background-image: url("../images/svg_image.png"); }

.common-icon.only-svg-icon { /* svg 아이콘 이미지만생성 */ background: url("../images/only_svg_image.svg"); }

a.btn { margin-top: 20px; display: inline-block; font-size: 24px; padding: 10px 20px; border: 1px solid gray; background: #fff; }

/*# sourceMappingURL=style.css.map */
